body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.mainText {
  font-size: 1.5em;
  text-align: center;
}

button {
  margin: 16px;
  padding: 10px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
