* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  margin-top: 1em;
}

button {
  width: 80px;
  padding: 5px 12px;
  background-color: lightgreen;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid darkgreen;
  cursor: pointer;

  transition: all 200ms ease-out;
}

button:hover {
  background-color: rgb(16, 233, 16);
  color: white;
}

section.volumeMeter {
  display: flex;
  flex-direction: column;
}

section .volumeMeter {
  width: 640px;
  margin: 10px;
}

section label {
  text-align: center;
}

section progress::-moz-progress-bar {
  background-color: lightgreen;
  border-radius: 10px;
}

section.currentTimeContainer {
  height: 10px;
  background-color: white;
}

div.currentTime {
  height: 10px;
  width: 0;
  background-color: lightgreen;
}

section .videoDuration {
  margin-left: auto;
  font-size: 1em;
  color: white;
  background-color: lightgreen;
  margin-top: 10px;
  width: 200px;
  height: 30px;
  padding: 5px 20px;
  text-align: center;
  border-radius: 6px;
}

article button {
  width: 200px;
}
